* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item img {
    height: 550px;
    object-fit: cover;
    object-position: top center;
}

.item video {
    height: 550px;
    object-fit: cover;
}

.owl-dots {
    margin-top: 0;
}